/* Tekstiga seotud kood */
body {
	background-color: #b4fff7;
	font-family: "franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
	text-align: center;
    font-size: 45px;
}

h2 {
text-align: center;
font-size: 35px;
}

h3 {
text-align: center;
font-size: 30px;
}

h4 {
text-align: center;
font-size: 25px;
}

h5 {
text-align: center;
font-size: 23px;
}

p {
text-align: center;
font-size: 18px;
}
/* See kood eemaldab joone linkidel ja värvi.
 Lisasin "a" ette ".link", et eraldada see navigatsiooni linkidest.
 Praegu puudub navigatsiooni riba linkidel .class */

a.link:link {
	color: #0579fd;
	text-decoration: none;
  }
  
  /*külastatud link*/
  a.link:visited {
	color: #0579fd;
	text-decoration: none;
  }
  
   /*-Hiirega lingi peal hõljumine */
  a.link:hover {
	color: #ff02dd;
	text-decoration: none;
  }

/* Listidega seotud kood lisada siia*/



/* Tabeliga seotud kood */
th {
	background-color:#000000 ;
	color: white;
	font-size: 20px;
}

td {
	font-size: 18px;
}

th, td {
	padding: 10px;
	text-align: center;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}


/* Lehe Layout */
.header {
	background-color: #009286;
	padding: 20px;
	text-align: center;
	color: white;
}


/* Navigeerimisriba kood */
.topnav {
	overflow: hidden;
	background-color: #009286;
 }

.topnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.topnav li {
	float: left;
}

.topnav li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
 
.topnav li a:hover, .dropdown:hover .dropbtn {
	background-color: #00c4b3;
}

.topnav li.dropdown {
	display: inline-block;
}

.topnav .dropdown-content {
	display: none;
	position: absolute;
	background-color: #333;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
  
.topnav .dropdown-content a {
	color: #ffffff;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
  
.topnav .dropdown-content a:hover {background-color: #00c4b3;}
  
.topnav .dropdown:hover .dropdown-content {
	display: block;
}
/* Ülemine osa on nav riba jaoks. Peab kasutama classi "topnav" siis töötab */

