/* Tekstiga seotud kood */
body {
	background-color: #231f20 ;
	font-family: "franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	color:white;
}

h1 {
	text-align: center;
    font-size: 45px;
}

h2 {
text-align: center;
font-size: 35px;
}

h3 {
text-align: center;
font-size: 30px;
}

h4 {
text-align: center;
font-size: 25px;
}

h5 {
text-align: center;
font-size: 23px;
}

p {
text-align: center;
font-size: 18px;
}
/* See kood eemaldab joone linkidel ja värvi.
 Lisasin "a" ette ".link", et eraldada see navigatsiooni linkidest.
 Praegu puudub navigatsiooni riba linkidel .class */

a.h1 {
	display: block;
	text-align: center;
	font-size: 45px;
}

a.h2 {
	display: block;
	text-align: center;
	font-size: 35px;
}

a.h3 {
	display: block;
	text-align: center;
	font-size: 30px;
}

a.h4 {
	display: block;
	text-align: center;
	font-size: 25px;
}

a.h5 {
	display: block;
	text-align: center;
	font-size: 23px;
}

a.link {
	display: block;
	text-align: center;
	font-size: 18px;
 }

a:link {
	color: #612124;
	text-decoration: none;
  }
  
  /*külastatud link*/
  a:visited {
	color: #612124;
	text-decoration: none;
  }
  
   /*-Hiirega lingi peal hõljumine */
  a:hover {
	color: #ff000d;
	text-decoration: none;
  }


/* Listiga seotud kood.*/
/* Paneb listi keskele, kui saab lehe layouti valmis siis võiks need vasakule äärde tagasi minna */

ul.list {
	display: table;
	margin: 0 auto;
	font-size: 18px;
}

/* Tabeliga seotud kood */
th {
	background-color:#612124 ;
	color: white;
	font-size: 20px;
}

td {
	font-size: 18px;
}

th, td {
	padding: 10px;
	text-align: center;
}

table, th, td {
	border: 1px solid #612124;
	border-collapse: collapse;
}


/* Lehe Layout */
.header {
	background-color: #231f20;
	padding: 20px;
	text-align: center;
	color: white;
	border-top: solid 1px;
	border-bottom: solid 1px;
	border-color:#612124;
}


/* Navigeerimisriba kood */
.topnav {
	/*overflow: hidden;*/
	background-color: #231f20;
	position: sticky;
	top: 0;
 }

.topnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
	background-color: #231f20;
	border-top: solid 1px;
	border-bottom: solid 1px;
	border-color: #612124;
}

.topnav li {
	background-color: #231f20;
	border-color: #612124;
	float: none;
}

.topnav li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
 
.topnav li a:hover, .dropdown:hover .dropbtn {
	background-color: #612124;
}

.topnav li.dropdown {
	display: inline-block;
}

.topnav .dropdown-content {
	display: none;
	position: absolute;
	background-color: #231f20;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
  
.topnav .dropdown-content a {
	color: #ffffff;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
  
.topnav .dropdown-content a:hover {background-color: #612124;}
  
.topnav .dropdown:hover .dropdown-content {
	display: block;
}
/* Ülemine osa on nav riba jaoks. Peab kasutama classi "topnav" siis töötab */

  /* Tektsi ala. Tõmbab ääri kokku */
  .textarea {
	background-color: #b4fff800;
	padding-top: 20px;
	padding-left: 140px;
	padding-right: 140px;
	padding-bottom: 20px;
  }

/* paneb pildi keskele */
img.center {
	display: block;
	margin: auto;
}

/* Inverteerib pildi värvib */
img.center.invert {
	display: block;
	margin: auto;
	filter: invert(100%);
}

/* Column container */
* {
	box-sizing: border-box;
  }
  
.row {  
	display: flex;
	flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/right column */
  .side {
	flex: 30%;
	background-color: #b4fff800;
	padding: 20px;
  }
  
  /* Main column */
  .main {
	flex: 70%;
	background-color: #b4fff800;
	padding: 20px;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
	.row, .navbar {   
	  flex-direction: column;
	}
  }
